<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Gérer les réseaux</title>
</head>
<body>
  <div id="menu"></div>
  
  <script>
    fetch("/static/menu.html")
      .then(response => response.text())
      .then(data => {
        const menuDiv = document.getElementById("menu");
        if (menuDiv) {
          menuDiv.innerHTML = data;
        }
      })
      .catch(error => {
        console.error('Erreur lors du chargement du menu :', error);
      });
  </script>
</body>
</html>